<form #productform="ngForm" (ngSubmit)="submit(productform)">
    <div class="form-group">
        <label for="productName">Product Name</label>
        <input required minlength="3" maxlength="15" pattern="[A-Za-z0-9\s]+" ngModel id="productName"
            name="productName" type="text" #name="ngModel" class="form-control" />
        <div class="alert alert-danger" *ngIf="!name.valid && name.touched">
            <div *ngIf="name.errors.required">
                Product Name can not be empty
            </div>
            <div *ngIf="name.errors.minlength">
                Product Name should be {{name.errors.minlength.requiredLength}} or more characters
            </div>
            <div *ngIf="name.errors.maxlength">
                product name should be less than or equal to 10 characters
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea ngModel id="description" name="description" cols="30" rows="10" class="form-control"></textarea>
    </div>

    <div ngModelGroup="specs" #tempspecs="ngModelGroup" class="form-group">

        <div class="alert alert-danger" *ngIf="!tempspecs.valid && tempspecs.touched">
            <div>product specs are invalid
            </div>

        </div>

        <div class="form-group">
            <label for="difficulty">Difficulty</label>
            <select name="difficultylevel" required ngModel class="form-control" required>
                <option selected></option>
                <option *ngFor="let op of difficultyOptions">
                    {{op}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="prerequisite">Prerequisite</label>
            <select name="prerequisite" multiple=true ngModel class="form-control" required>
                <option></option>
                <option>javascript</option>
                <option>Object Oriented Programming</option>
                <option>css</option>
            </select>
        </div>

        <br />
        <div class="form-group">
            <label for="instructors">Instructors</label>
            <select name="instructors" multiple=true ngModel class="form-control">
                <option></option>
                <option>kebe</option>
                <option>abe</option>
                <option>sami</option>
            </select>
        </div>
    </div>

    <div class="radio">
        <label>
            <input type="radio" ngModel name="isActive" value=true required #isActive="ngModel" />
            Enable
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ngModel name="isActive" value=false required #isActive="ngModel" />
            Disable
        </label>
    </div>



    <button type="submit" [disabled]="!productform.valid" class="btn btn-primary">Save</button>
</form>

{{productform.value | json}}